body {
    background-color: #5a5345 !important; /* любой цвет */
}

.search-form {
    margin-left: 0 !important;
}

/*Catto*/
.brand-text {

    
    color: #000000 !important; /* любой цвет */
    font-family: 'Courier New', Courier, monospace
 
}

.my-navbar {
    background-color: #ebc7e1 !important; /* любой цвет */
}

.my-navbar2 {
    background-color: #b976b9 !important; /* любой цвет */
}

.nav-link {
    color: #000000 !important; /* любой цвет */
    font-family: 'Courier New', Courier, monospace;
}
.nav-link:hover {
    color: #ff69b4 !important; /* любой цвет */
}

.btn {
    background-color: #a06080 !important; /* любой цвет */
    color: #ffffff !important; /* любой цвет */
    font-family: 'Courier New', Courier, monospace;
}

.btn:hover {
    background-color: #ff69b4 !important; /* любой цвет */
    color: #000000 !important; /* любой цвет */
}

.photo-text {
    display: flex;           /* делаем контейнер flex */
    align-items: center;     /* выравнивание по вертикали */
    gap: 20px;               /* расстояние между фото и текстом */
    margin: 20px 0;
    
}

.photo {
    width: 150px;            /* ширина картинки */
    height: auto;            /* сохраняем пропорции */
    border-radius: 10px;
}

.text-box {
    max-width: 800px;        /* ограничиваем ширину текста */
    font-family: 'Courier New', Courier, monospace;
    color: #ebc7e1;
}

.name {
    background-color: #ebc7e1;  /* цвет фона за текстом */
    color: black;              /* цвет текста */
    padding: 5px;              /* немного отступа, чтобы текст не прилипал к краям фона */
    border-radius: 5px;        /* закруглённые углы (опционально) */
}

footer {
    background-color: #ebc7e1 !important; /* любой цвет */
    color: #000000 !important; /* любой цвет */
    text-align: center;
    padding: 10px 0;
    font-family: 'Courier New', Courier, monospace;
}
 /*ссылки футера*/
footer a {
    color: #000000 !important; /* любой цвет */
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}